@font-face {
    font-family: "myCustomFont";
    src: url("fonts/Norse-Bold.otf") format("woff2");
    src: url("fonts/Norse-Bold.otf") format("woff");
    src: url("fonts/Norse-Bold.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex; 
}

.left {
    height: 100vh;
    max-width: 400px;
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left p {
    text-align: center;
    color: rgb(237, 237, 237);
    font-size: .7em;
    margin-bottom: .3em;
}

.left a {
    color: rgb(237, 237, 237);
}

.left_logo {
    padding: 0 50px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
}

.left_logo img {
    max-width: 100px;
    height: 100%;
    padding: 20px 0;
}

.left_logo h1 {
    font-family: "myCustomFont";
    color: white;
    font-size: 6em;
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.right_intro {
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
    padding: 50px 20px;
}

.right_intro h3 {
    padding: 0;
    font-weight: bold;
}
